body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#legend {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000; /* Add a higher z-index value to ensure the legend appears above the map */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
}